.label{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap:20px;

	&__value{
		flex: 0 0 auto;
		color: var(--primary-light);
		font-size: 20px;
	}

	&.upload {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px dashed var(--primary-color);
		padding: 8px;
		border-radius: 6px;
	}

}
.popup{
	gap: 0;
}

.input {
	width: 100%;
	height: 36px;
	padding-block: 6px;
	padding-inline: 16px;
	border: 1px solid var(--primary-color);
	border-radius: 6px;
	
	&.upload {
		display: none;

	}
}

.input::placeholder{
	color: var(--primary-light);
}

