.header{
	background-color: var(--black-color);
	color: var(--white-color);
	padding-block: 20px;

	&__content{
		display: grid;
		//justify-content: space-between;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		gap: 15px;
	}

	&__logo {
		color: var(--secondary-color);
	}

	&__auth{
		color: var(--secondary-color);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;
	}
}

.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.navbar li{
	flex: 0 0 auto;
}

.auth{
	//flex: 0 0 auto;
	&__btn{
		cursor: pointer;
	}
}
