.file{
	padding-block: 12px 6px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	column-gap: 15px;
	border-bottom: 2px solid var(--primary-color);

	&__view{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;          
	}

	&:hover {
		color: var(--primary-color);
		cursor: pointer;
	}
	&:hover path{
		scale: 1.4;
	}
}

