*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}

ul, ol{
	list-style: none;
}

button, input {
	font: inherit;
	border: none;
	background-color: transparent ;
	color: inherit;
}