.disk {
	width: 100%;

	&__wrapper{
		width: 70%;
		margin-top: 40px;
		margin-inline: auto;
	}

	
}

.controllers{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;

	&__btns {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__btns button{
	}
	&__create {
	}

	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
}